.submitButton {
    background-color: #8b22b4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
    height: 53px;
}

.fileInput {
    background-color: #8b22b4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    width: 350px;
}

.loadingIcon {
    padding-top: 40px;
}

.resultText {
    padding-top: 40px;
    font-size: 30px;
}

.propText {
    font-size: 18px;
}

.image {
    height: 230px;
}

.previewText {
    font-size: 22px;
}

.imgPreview {
    padding: 20px;
}